# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
.tools
.codegraph

# Files from Forge MDK
forge*changelog.txt
deep-research-report.md
DEV.md
